
@{
    ViewBag.Title = "signup";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h1 class="error">Allied Login Form</h1>
<div class="w3layouts-two-grids">
    <div class="mid-class">
        <div class="txt-left-side">
            <h2> Register Here </h2>
            <p>BlockBuster</p>
            <form action="aCreate" method="post">
                <div class="form-left-to-w3l">
                    <span class="fa fa-user-o" aria-hidden="true"></span>
                    <input type="text" name="Name" placeholder="Name" required="">

                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l ">

                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <input type="password" name="Password" placeholder="Password" required="">
                    <div class="clear"></div>
                </div>
                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                        <input type="checkbox" class="checked">
                        <span class="remenber-me">Remember me </span>
                    </div>
                    <div class="right-side-forget">
                        <a href="#" class="for">Forgot password...?</a>
                    </div>
                </div>
                <div class="btnn">
                    <button type="submit">Login </button>
                </div>
            </form>
            <div class="w3layouts_more-buttn">
                <h3>
                    Don't Have an account..?
                    <a href="#">
                        Register Here
                    </a>
                </h3>
            </div>

        </div>
        <div class="img-right-side">
            <h3>BlockBuster</h3>
            <p>Compra de Peliculas en Linea</p>
            <img src="images/b11.png" class="img-fluid" alt="">
        </div>
    </div>
</div>