@{
    ViewBag.Title = "About";
    if (Convert.ToInt32(Session["Tipo"]) == 1)
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<hr>
<div class="card" style="width: 18rem;">
    <img src="~/Images/b11.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
