@{
    ViewBag.Title = "Home Page";
    if (Convert.ToInt32(Session["Tipo"]) == 1)
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }

}

<div class="jumbotron">
    <h1>BlockBuster</h1>
    <h2>@ViewBag.Tipo</h2>
    <p class="lead">Welcome.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Peliculas</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="/tblArticulos">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Series</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="/TblArticulos/Series">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Carrito</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="/TblArticuloTransacciones/Carrito">Learn more &raquo;</a></p>
    </div>
</div>