@{
    ViewBag.Title = "Home Page";
    if (Convert.ToInt32(Session["Tipo"]) == 1)
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }

}

<div class="jumbotron">
    <h1>BlockBuster</h1>
    <h2>@ViewBag.Tipo</h2>
    <p class="lead">Welcome.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Peliculas</h2>
        <p>
            Compra películas el mejor precio del mercado, manténlas por siempre en tu librería.
        </p>
        <p><a class="btn btn-default" href="/tblArticulos">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Series</h2>
        <p>De la misma forma consume las series más aclamadas de todos los tiempos y llévalas contigo donde estés.</p>
        <p><a class="btn btn-default" href="/TblArticulos/Series">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Carrito</h2>
        <p>Revisa tu selección y confirma tus transacciones.</p>
        <p><a class="btn btn-default" href="/TblArticuloTransacciones/Carrito">Learn more &raquo;</a></p>
    </div>
</div>